*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    padding: .7rem;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(90%);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F0EEF1;
}

.shadow {
    filter: drop-shadow(0px 0px 1px hsl(0deg 0% 0% / 0.38));
}

nav {
    padding: 1.5rem 5rem;
    background-color: #FFFBFB;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

main {
    padding: 0 5rem;
    margin-bottom: 4rem;
}

main .add-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

main .add-btn {
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

main .add-btn:hover {
    background-color: hsl(0, 0%, 0%, 0.10);
}

main .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

main .card-container .card {
    background-color: #FFFBFB;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    display: grid;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

main .card-container .card .title {
    font-style: italic;
}

main .card-container .card .status[data-read=true] {
    background-color: #8FE68D;
}

main .card-container .card .status[data-read=false] {
    background-color: #FF9C9C;
}

dialog {
    text-align: center;
    background-color: #F0EEF1;
    border: 0;
    border-radius: 10px;
    width: 30ch;
    font-size: 1.1rem;
    transition: 0.5s;
}

dialog[open] {
    animation: popup 0.2s;
}
  
@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
}

dialog::backdrop {
    background-color: hsl(0, 0%, 0%, 0.40);
}

dialog .wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
}

dialog .instruction {
    font-weight: 800;
    font-size: 1.2rem;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog form input {
    padding: 0.8rem 1rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

dialog form input::placeholder {
    font-weight: 600;
}

dialog form input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -2px;
}

dialog form button {
    background-color: #8FE68D;
    font-size: 1.1rem;
    font-weight: 500;
}