*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F0EEF1;
}

.shadow {
    filter: drop-shadow(0px 0px 2px hsl(0deg 0% 0% / 0.38));
}

nav {
    padding: 1.5rem 5rem;
    background-color: #FFFBFB;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

main {
    padding: 0 5rem;
}

main .add-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

main .add-btn {
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

main .add-btn:hover {
    background-color: hsl(0, 0%, 0%, 0.10);
}

main .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

main .card-container .card {
    background-color: #FFFBFB;
    padding: 1rem;
    text-align: center;
    display: grid;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

main .card-container .card .title {
    font-style: italic;
}

main .card-container .card button {
    border-radius: 10px;
    padding: .7rem;
    transition: filter 0.2s;
}

main .card-container .card button:hover {
    filter: brightness(90%);
}

main .card-container .card .status[data-read=true] {
    background-color: #8FE68D;
}

main .card-container .card .status[data-read=false] {
    background-color: #FF9C9C;
}